@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
:root{
    --navy-blue: #211f8a;
    --purple-aqua: #c8daff;
    --white: #fafafa;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
   
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
   
}

a{
    text-decoration: none;
}
/** General CSS */
.section-title{
    font-size: 1rem;
    color: #4f4f4f;
    font-weight: 400;
}
/** End General CSS */

/** Start Hero Section */

header{
   height: 100vh;
    width: 70%;
    background: var(--navy-blue);
    flex-direction: column;
    /* justify-content: space-around; */
    /* padding-bottom: 2rem; */
    display: none;
}

header .bx-x{
    color: var(--purple-aqua);
    text-align: right;
    font-size: 2rem;
    margin-top: .5rem;
    align-items: center;
}

header .balance-card{
    background: var(--purple-aqua);
    margin: 2rem .5rem ;
    border-radius: .5rem;
    height: auto;
    color: var(--white);
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem
}

.balance-card h3{
    font-size: 1.6rem;
}

.balance-card p{
    font-size: 1.4rem;
}

.balance-card i{
    color: var(--navy-blue);
    font-size: 3rem;
}

nav.navigation{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.6rem;
    margin-left: .5rem;
    color: var(--white);
}

.navigation .heading{
    width: fit-content;
    font-size: 1.6rem;
    border-bottom: .15rem var(--white) solid;
}

.navigation ul{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.navigation ul li{
    list-style-type: none;
}

.navigation ul li a {
    color: var(--white);
    cursor: pointer;
    width: fit-content;
}


.navigation ul li a:hover{
    background: var(--purple-aqua);
    padding: .5rem 1rem;
}
.hero{
    display: flex;
    flex-direction: column;
    height: 30vh;
    background-image: url(/assets/images/lekki-new---day--1@1x.png);
    background-position: center;
    background-size: cover;
    width: 100%;
}
.hero .bx-menu{
    font-size: 2rem;
}
.main-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1.2rem;
}


.hero .text p {
    font-size: 1rem;
    color: #bebebe;
}

.hero .text h1{
    font-size: 26px;
    font-weight: 500;
    color: #2b2b2b;
}

.circle{
    background: #eda664;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.hero .bridge{
  width: 100%;
  margin-top: -7.5rem;
}

.hero .bridge img{
    width: 90%;
    transform: rotateY(155deg);
}

.divider{
    width: 80%;
    height: 2px;
    background: #d8d8d8;
    align-self: center;
}

/** End Hero Section */

/** Start Menu Section */
.menu{
    padding: 1rem .5rem ;
    width: 100%;
    overflow: hidden;
}

.menu-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5rem;
}

.menu-item{
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.menu-item img{
    width: 126px;
    height: 143px;
}
/** End Menu Section */

/** Start Discovery Section */
.discover{
    padding: 1rem .5rem ;
}

.discover-item{
    display: flex;
}

.discover-item.swiper-slide{
    width: 236px;
}

.discover-item img{
    height: 180px;
    width: 236px;
}


/** End Discovery Section */


/** Start Airtime Section */
.airtime{
    padding: 1rem .5rem ;
    overflow: hidden;
}

.airtime-item{
  display: flex;
}

.airtime-item img{
   width: 124px;
   height: 142px;
}

.flight img{
    width: 108px;
    height: 124px;  
    margin-top: 7px;
    margin-left: 7px;
 
}


/** End Airtime Section */

/** Start FAQ Section */
.faq{
    padding: 1rem .5rem ;
    margin-bottom: 3rem;
}

.faq-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5rem;
}

.faq-item img{
  width: 91px;
  height: 103px;
}


/** End FAQ Section */

/** Link Section*/
.section-links{
    position: fixed;
    bottom: 0;
    background: #fafafa;
    width: 100%;
    border: 1px #bebebe solid;
    height: max-content;
    margin-top: 2rem;
}

.link-box{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.link-item{
    display: flex;
    flex-direction: column;
    color: #4f4f4f;
    align-items: center;
}

.link-item .link-icon{
    font-size: 1.2rem;
}

.link-item.active .link-icon{
    color: #1f1e84;
}

.link-item p{
    font-size: .8rem;
    color: #1f1e84;
}
/**Link Section  */

