@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100vh;
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
}

/** General CSS */

/** End General CSS */

.main-content .background-one{
    background: #211d8a;
    height: 100vh;
}

.background-one, .background-two{
    display: flex;
    flex-direction: column;
}

.background-one img, .background-two img{
    padding: 5rem;
    margin-top: 20vh;
    align-self: center;
}

.background-one p, .background-two p{
    margin-top: -4rem; 
    align-self: center;
}

.background-one p{
    color: #fafafa;
}


/**Link Section  */

